.subcarousel-img {
  width: 20rem;
  height: 15rem;
}
.sub-carousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  position: relative;
  cursor: pointer;
}

.sub-carousel-name {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  color: var(--secondary-color);
  display: none;
  width: 100%;
  text-align: center;
}

.sub-carousel:hover .sub-carousel-name {
  display: block;
}

@media only screen and (max-width: 768px) {
  .subcarousel-img {
    width: 15rem;
    height: 10rem;
  }
}
