.dropdownmenu-container {
  position: absolute;
  top: 100%;
  right: 100%;
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.dropdownmenu-container > span {
  list-style-type: none;
  min-width: 8rem;
}
.dropdownmenu-container > span:hover {
  background-color: var(--secondary-color);
  padding: 0 4px;
  border-radius: 0.5rem;
}
