.userdetails-container {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
  margin: 1rem;
}
