.userdetails-container {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  flex-direction: column;
  text-align: start;
  width: 100%;
  border: 1px solid black;
}
.userdetails-container h2 {
  margin-bottom: 4rem;
}

.logout-btn {
  margin-top: 4rem;
}
