.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 3rem; */
  font-weight: 700;
  padding: 1rem;
}
.category-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
