.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 700;
  padding: 1rem;
}
.category-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.btn-filter-responsive {
  display: none;
}
.resposnive-filter-title {
  display: none;
}
@media only screen and (max-width: 768px) {
  .filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--bg-color);
    z-index: 12;
    transition: all 0.5s ease;
    padding: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .resposnive-filter-title {
    display: inline-block;
  }
  .filter-subdiv {
    background-color: var(--bg-color);
    padding: 0rem;
  }
  .category-filter-container {
    background-color: var(--bg-color);
    padding: 2rem;
  }
  .btn-filter-responsive {
    display: block;
  }
}
