.responsive-navbar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 40%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.responsive-nav-link {
  display: block;
  padding: 1rem;
}
.responsive-nav-link.active {
  background-color: var(--classic-color);
}
.responsive-nav-link-menu {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-color);
}
.responsive-nav-link:hover {
  background-color: var(--ternary-color);
}

@media only screen and (min-width: 768px) {
  .responsive-navbar-container {
    display: none;
  }
}
